# CODE

In [3]:
import pandas as pd
import datetime as dt

In [4]:
#reading and checking the data
data = pd.read_csv('data.csv', encoding = 'iso-8859-1', low_memory = False)
#copyting the data to avoid changing the original data
df = data.copy()
df.info()
df.head()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.dropna(subset = ['so2', 'no2']) #dropping the na values in the so2 and no2 column

In [6]:
#creating a new column (air_quality) which is a sum of so2 and no2 columns
df['air_quality'] = df.so2 + df.no2

In [7]:
df['date'] = pd.to_datetime(df['date']) #coverting to datetime data type
output_dict_city = {} #output dictionary for city analysis
for year in range (1987 , 2016): #for loop used for extracting data by year
    temp_df = df[df['date'].dt.year == year] #extracting data by year
    #grouping data by location and then taking the mean of so2 for the particular year
    grp = pd.DataFrame(temp_df.groupby('location').air_quality.mean()) 
    #sorting highest to lowest
    grp = grp.sort_values(by='air_quality', ascending = False)
    #appending to dictionary
    output_dict_city[year] = grp.head(10)

In [8]:
#same as previous cell but for states instead of cities
output_dict_state = {}
for year in range (1987 , 2016):
    temp_df = df[df['date'].dt.year == year]
    grp = pd.DataFrame(temp_df.groupby('location').air_quality.mean())
    grp = grp.sort_values(by='air_quality', ascending = False)
    output_dict_state[year] = grp.head(10)

In [9]:
#same as previous cells but for every month in Delhi for the year 2015
delhi_data = df[df['date'].dt.year == 2015]
delhi_df = delhi_data.loc[delhi_data.location == 'Delhi']
delhi_dict = {}
for month in range(1,13):
    temp = delhi_df[delhi_df['date'].dt.month == month]
    temp = temp.air_quality.mean()
    delhi_dict[month] = temp

# TESTING

In [10]:
#Cell for testing the data
#Un-comment the code to test data for any of the three questiond

#Top 10 polluted cities every year:
#print(output_dict_city[#enter year between(including) 1987 and 2015])

#Top 10 polluted states every year:
#print(output_dict_state[#enter year between(including) 1987 and 2015])

#Delhi month wise pollution for 2015:
#print(delhi_dict[#enter the month number between(iincluding) 1 and 12])

In [11]:
#Cell for testing the data
#Un-comment the code to test data for any of the three questiond

#Top 10 polluted cities every year:
print('\n',output_dict_city[2000])

#Top 10 polluted states every year:
print('\n',output_dict_state[2011])

#Delhi month wise pollution for 2015:
print('\n',delhi_dict[6])

             air_quality
location
Anpara       131.662500
Pune         102.711765
Jamshedpur    99.016667
Haldia        98.920833
Dombivli      92.115385
Alwar         85.091489
Chandrapur    80.987500
Panjim        79.758333
Palakkad      79.416667
Nagda         74.925000

             air_quality
location
Raniganj     132.464744
Badlapur     106.510204
Ulhasnagar   104.522167
Byrnihat      90.606061
Pune          89.495122
Jamshedpur    83.404494
Kolkata       77.302928
Lote          74.841121
Howrah        74.432692
Bareilly      71.922619

 62.696969696969695